In [ ]:
import pandas as pd
import numpy as np

In [662]:
finance_dataset = pd.read_csv('/kaggle/input/sml-project/fraud_payment_data_JPMorgan.csv')
finance_dataset = pd.DataFrame(finance_dataset)

In [663]:
finance_dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1498177 entries, 0 to 1498176
Data columns (total 13 columns):
 #   Column            Non-Null Count    Dtype
---  ------            --------------    -----
 0   Time_step         1498177 non-null  object
 1   Transaction_Id    1498177 non-null  object
 2   Sender_Id         1279291 non-null  object
 3   Sender_Account    1279291 non-null  object
 4   Sender_Country    1279291 non-null  object
 5   Sender_Sector     1279291 non-null  float64
 6   Sender_lob        1279291 non-null  object
 7   Bene_Id           1282284 non-null  object
 8   Bene_Account      1282284 non-null  object
 9   Bene_Country      1282284 non-null  object
 10  USD_amount        1498177 non-null  float64
 11  Label             1498177 non-null  int64
 12  Transaction_Type  1498177 non-null  object
dtypes: float64(2), int64(1), object(10)
memory usage: 148.6+ MB

In [664]:
finance_dataset.shape

(1498177, 13)

In [666]:
finance_dataset.head()

,Time_step,Transaction_Id,Sender_Id,Sender_Account,Sender_Country,Sender_Sector,Sender_lob,Bene_Id,Bene_Account,Bene_Country,USD_amount,Label,Transaction_Type
0,2022-03-15 10:24:00,EXCHANGE-10115,JPMC-CLIENT-10098,ACCOUNT-10108,USA,35537.0,CCB,NaN,NaN,NaN,558.43,0,WITHDRAWAL
1,2022-03-15 10:24:00,QUICK-PAYMENT-10116,JPMC-CLIENT-10098,ACCOUNT-10109,USA,15287.0,CCB,CLIENT-10100,ACCOUNT-10106,CANADA,622.78,0,QUICK-PAYMENT
2,2022-03-15 10:24:00,DEPOSIT-CASH-9833,NaN,NaN,NaN,NaN,NaN,JPMC-CLIENT-9812,ACCOUNT-9826,USA,802.54,0,DEPOSIT-CASH
3,2022-03-15 10:24:00,PAY-CHECK-9832,JPMC-CLIENT-9812,ACCOUNT-9825,USA,38145.0,CCB,JPMC-CLIENT-9814,ACCOUNT-9824,USA,989.09,0,PAY-CHECK
4,2022-03-15 10:24:00,DEPOSIT-CHECK-9806,NaN,NaN,NaN,NaN,NaN,JPMC-CLIENT-9789,ACCOUNT-9800,USA,786.78,0,DEPOSIT-CHECK

In [668]:
finance_dataset.columns

Index(['Time_step', 'Transaction_Id', 'Sender_Id', 'Sender_Account',
       'Sender_Country', 'Sender_Sector', 'Sender_lob', 'Bene_Id',
       'Bene_Account', 'Bene_Country', 'USD_amount', 'Label',
       'Transaction_Type'],
      dtype='object')